# Dependency directories
node_modules

# Transpiled js
dist

# Static assets
static

# Static assets
.cache

# Supporting binaries
bin/*

# Private secrets
config/*.ts

# .cache directories
**/*.cache

# CSV files
**/*.csv
