style {
    #header {
        color: #fff;
        background-color: #444;
        text-align: center;
    }
}

div#header.jumbotron-fluid
    h1.display-1 -- Amazon Tasker
    p.lead -- Automatic task delegation