style {
    #header {
        background-color: #444;
        text-align: center;
        color: #fff;
        margin: 0px;
    }
}

div#header.jumbotron-fluid
    h1.display-1.font-weight-bold -- Amazon Tasker
    p.my-3 -- Automatic task delegation