style {
    #content {
        background-color: #eceeef;
        text-align: center;
        height: 100vh;
    }

    #form-wrapper {
        position: absolute;
        width: 100vw;
        top: 50%;
    }
}

site-layout
    @title -- Amazon Tasker
    @body
        div#content
            div#form-wrapper
                h1.my-5 -- Waiting for scan...
                input-form